/.metadata/
/node_modules/
/evaluation/
/package.json
/package-lock.json

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


legal-rag-assistant/target/
legal-rag-assistant/*.jar
legal-rag-assistant/*.war
legal-rag-assistant/.mvn/wrapper/maven-wrapper.jar
legal-rag-assistant/src/main/resources/application-dev.properties



python-service/__pycache__/
python-service/*.py[cod]
python-service/*$py.class
python-service/venv/
python-service/env/
python-service/.env
python-service/.pytest_cache/


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


